/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 250;
    font-size: 16px;
    color: #313131;
    overflow-y: hidden;
}

h1 {
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 20px 0;
}

p {
    font-size: 15px;
    font-family: 'Chilanka', cursive;
    margin: 20px 0;
}
h2, p {
    color: white;  
}
.title {
    margin: 100px 0px 30px 10px;
    align-items: left;
    font-weight: bold;
}
/* Navegación */
nav {
    width: 100%;
    height: 75px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 10;
}

nav a:not(:last-child) {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-family: 'Chilanka', cursive;
    font-size: 30px;
    margin: 10px;
}

a:hover {
    color: #9e9e9e;
}

/* Secciones */
section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

section:nth-of-type(1) {
    background-color: #F04A63;
}

section:nth-of-type(2) {
    background-color: #5EE0C2;
}

section:nth-of-type(3) {
    background-color: #5D43BB;
}

.container_about {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.linksContainers {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.container_about_info {
    width: 75%;
    text-align: center;
}

.container_about_info img {
    width: 350px;
}

.container_about2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container_about3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    margin: 100px auto;
    flex-wrap: wrap;
    height: auto;
}
.container_about3 div {
    width: 150px;
    text-align: center;
}

.container_about3 div img {
    width: 60px;
    margin: 10px 0;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.imgIntro {
    width: 300px;
}

.imgLogo {
    width: 30px;
}

.tittleContainer {
    padding: 30px;
}
/*Carrusel*/
.carousel {
    width: 100%;
    /*overflow: scroll;*/
    padding: 30px;
    position: relative;
    background-color: #5EE0C2;
    overflow-y:hidden;
  }
  
  .carousel__container {
    white-space: nowrap;
    /*para q no envuelva, x ejm en un texto se ajusta segun la ventana*/
    margin: 50px 0px;
    padding-bottom: 10px;
  }
  
  .carousel-item {
    /*background-color: royalblue;*/
    width: 280px;
    height: 190px;
    border-radius: 20px;
    overflow: hidden;
    /**/
    margin-right: 10px;
    display: inline-block;
    /*para anular el block y salga uno al costado y no debajo*/
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
  }
  
  .carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
    /*cuando se haga hove se desplazaran a la derecha*/
  }
  
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  
  .carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
  }
  
.projects {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.project-item {
    margin: 10px;
}

.project-item h3 {
    text-align: center;
    background-color: #999999;
    opacity: 0.8;
    margin: 10px 0;
}

.project-item p {
    margin: 10px 0;
}

.tools {
    display: flex;
    justify-content: space-around;
}

.linksContainers_mobile {
    display: none;
    margin: 20px 0;
}
  .carousel-item__img {
    /*width: 300px;
    height: 200px;
    object-fit: cover;
    */
    margin: 0px 0px;
    border-radius: 20px;
    display: block;
    width: 300px;
    height: 200px;
/*
    max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
    */
  }
/*
.proyecto1{
    background-image: url("https://github.com/verenisseeyzaguirre/react-gifapp/raw/master/src/img/gifcoding.png");
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 0px 0px;
    border-radius: 20px;
}
*/
 
  .carousel-item__details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0.1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .carousel-item__details--img {
    width: 20px;
  }
  
  .carousel-item:hover .carousel-item__details {
    opacity: 1;
  }
  
  .carousel-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
  }
  
  .carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
  }

.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.option__container {
    display: flex;
    margin: 15px 0;   
}
.option {
    /*border: 2px solid #F04A63;*/
    border-radius: 15px;
    padding: 5px 40px;
    color: gray;
    font-size: 20px;
    background-color: white;
}
.option:hover{
    background-color: #ecd4c9;
} 
.about_text{
    margin: 30px;
    line-height: 2;
}

.link_contact{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

/*BTN WSP*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 73px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
    color: gray;
}

@media screen and (max-width: 600px) {
    body {
      width: 740px;
    }
    section {
        height: 1500px;
    }
    .container_about {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    .container_about2 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
    }

    .linksContainers {
        display: none;
    }
    .linksContainers_mobile {
        display: block;
    }
    .projects {
        display: flex;
        justify-content: center;
        margin: 220px 0;
        flex-wrap: wrap;
    }
    .project-item {
        width: 32%;
    }
    .carousel-item__img {
        width: 220px;
    }
    .option {
        padding: 5px 20px;

    }
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 25px;
    }
  }